*{
    box-sizing: border-box;
}
.bookComp{
    position: absolute;
    width: calc(100vw - (100vw / 8));
    height: 100vh;
    left: calc(100vw / 8);
    top: 50%;
    transform: translate(0%, -50%);
    /* background-color: rgb(234, 234, 234); */
}
.roomSelection{
    /* border: solid 1px black; */
    width: calc(100vw / 4);
    height: 50vh;
    position: absolute;
    left: 5%;
    top: 20%;
    box-shadow: 5px 0px 20px #ababab;
    border-top-left-radius: calc(100vw / 10);
}
.roomSelection h3{
    text-align: right;
}
.meetingDetails h3{
    text-align: center;
}
.meetingDetails h3, .roomSelection h3{
    width: 100%;
    padding: 2vw;
    font-size: 2.5vw;
    font-weight: 300;
    position: relative;
} 
.roomSelection form{
    height: calc((50vh) - 30%);
    position: absolute;
    top: 30%;
    display: flex;
    flex-wrap: wrap;
}
.roomSelection form input, .roomSelection form label{
    flex: 50%;
    width: calc(100vw / 8);
}
.meetingDetails form label{
    flex: calc(50% - 40px);
}
.meetingDetails form input{
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px #ababab;
    margin-right: 40px;
}
.roomSelection form label, .meetingDetails form label{
    padding-left: 40px;
}
.roomSelection button{
    width: calc(100vw / 7);
}
.bookComp h1{
    font-weight: 400;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.meetingDetails{
    width: calc(100vw / 2);
    height: 70vh;
    position: absolute;
    left: 38%;
    top: 20%;
    box-shadow: 5px 0px 20px #ababab;
    border-top-right-radius: calc(100vw / 10);
    border-bottom-left-radius: calc(100vw / 10);
}
.meetingDetails form{
    height: calc((100vh) - 60%);
    position: absolute;
    /* top: 30%; */
    display: flex;
    flex-wrap: wrap;
}
.helpInfo{
    position: absolute;
    width: calc(100vw / 4);
    left: 5%;
    top: calc(20% + 55vh);
}


.edit-overlay{
    border: 1px solid black;
    background-color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    box-shadow: rgba(0,0,0,0.6) 0px 0px 0 50vw;
    padding: 5%;
    height: 35vh;
    width: 50vw;
    border-radius: 20px;
}

@media (max-width: 1024px) and (orientation: portrait){
    *{
        box-sizing: border-box;
    }
    .bookComp{
        left: 0;
        top: 15vh;
        transform: translate(0%, 0%);
        position: fixed;
        overflow: auto;
        width: 100vw;
        height: 85vh;
    }
    .bookComp h1{
        top: 0;
        left: 0;
        transform: translate(0px, 0px);
        text-align: center;
        width: 100vw;
        margin-top: 10%;
        position: relative;
        font-size: calc(100vw / 20);
    }
}



