@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navComp{
    z-index: 5;
}
img {
    width: calc(100vw / 13);
}
.navComp ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: calc(100vw / 8);
    height: 100vh;
    position: fixed;
    align-content: center;
    margin: 0px;
    box-shadow: 5px 0px 20px #ababab;
    background-color: white;
    padding: 0;
}
.navComp ul li{
    margin: 0 0 40px 0;
}
.navComp ul li a{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.navComp ul li a span{
    font-size: calc(100vw / 70);
    color: black;
    font-weight: 400;
}

@media (max-width: 1024px) and (orientation: portrait){
    img {
        width: calc(100vw / 6);
        max-width: 100px;
    }
    .navComp ul{
        justify-content: space-evenly;
        width: 100vw;
        height: 15vh;
    }
    .navComp ul li{
        margin: 0 0 0px 0;
        display: flex;
        flex-wrap: wrap;
    }
    .navComp ul li a span{
        flex: 100%;
        text-align: center;
        font-size: large;
    }
}
@media (max-width: 767px) and (orientation: portrait){
    .navComp ul li a span{
        display: none;
    }
}